@section Scripts{
    <script src="~/js/Pages/Articles/CreateArticle.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Create Article</h1>
</div>
<div class="form-group">
    <!--Formulario para mostrar datos de la Lista-->
    <form id="frmArticles">
        <div>
            <label for="txtTitle">Title:</label>
            <input id="txtTitle" type="text" class="form-control" />
        </div>

        <div>
            <label for="txtAbstract">Abstract:</label>
            <textarea rows="3" id="txtAbstract" type="text" class="form-control"></textarea>
        </div>

        <div>
            <label for="authorName">Author:</label>
            <select id="authorName" class="form-select">
            </select>
        </div>
        <div>
            <label for="txtDate">Date Published:</label>
            <input id="txtDate" type="date" class="form-control" />
        </div>
        <p />
        <div class="form-group">
            <button type="button" class="btn btn-success" id="btnCreate">Enviar</button>
            <button type="reset" class="btn btn-info" id="btnReset">Limpiar</button>
        </div>
    </form>
</div>
